body{
  overflow: hidden;
  margin: 0;
  padding: 0;
  
}

@media screen and (min-aspect-ratio: 2/1) {
  body {
      transform: rotate(90deg);
      transform-origin: 50% 50%;
      overflow: hidden;
      height: 100vw;
      width: 100vh;
  }
}

#box1{
  border: 2px solid red;
}

button {
  background-color: brown;
}