body{
  /* overflow-x: hidden; */
  margin: 0;
  padding: 0;
  background-color: coral;
  font-family:Arial, Helvetica, sans-serif
}

/* .container {
  display: flex;
  justify-content: center;
  align-items: center;
} */


.form-group{
  display: flex;
  position: sticky;
  z-index: 10;
  top: 0;
}

button {
  font-size: 1rem;
  width: 100px;
  font-family:Arial, Helvetica, sans-serif;
  border: none;
}



#box{
  background-color: white;
  justify-content: center;
  align-items: center;    
}




input[type=file] {
  outline: 0;
  opacity: 0;
  pointer-events: none;
  user-select: none;
}
   
.label {
  width: 50px;
  height: 50px;
  display: block;
  padding: 10px;
  cursor: pointer;
  text-align: center;
  background-color: white ;
  font-size: 1rem;

     
&:hover {
  background-color: antiquewhite;
}
   }


#deleteBtn{
  background-color: rgb(255, 201, 201);
  display: block;
  text-align: center;



  &:hover{
    background-color: crimson;
    color: white;
    
  }
}

#downloadBtn{
  background-color: rgb(115, 159, 230);    
  cursor: pointer;
  display: block;
  text-align: center;

  &:hover{
    background-color: rgb(31, 64, 118); 
    color: white;   
  }
}